@charset 'UTF-8';
body {
  letter-spacing: 0.1em;
}

.row {
  padding: 0;
  margin: 0 auto;

  align-items: center;
  height: 100vh;
  width: 50%;
}

.bg-light {
  padding: 10%;
  display: flex;
  flex-flow: column;
  gap: 20px;
  width: 50%;
}

.col {
  align-items: center;
}
